body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/MAngelMZR/PaginaWeb1/blob/master/tecnologia6.jpg?raw=true'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-position: center; /* Centra la imagen en el cuerpo */
    color: #fff; /* Ajusta el color del texto para que sea legible en el fondo */
}

header {
    background-color: #191919; /* Cambiado a azul */
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

.logo {
    max-width: 100px;
    margin: 25px;
    position: absolute;
    top: 0;
}

.logo:first-child {
    left: 300px;
}

.logo:last-child {
    right: 300px;
}

nav {
    background-color: #BED754; /* Cambiado a blanco */
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #750E21; /* Cambiado a rojo */
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

